
<ion-header>

  <ion-navbar>
    <ion-title>Fav Locals</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="favs2.length == 0">
    <p>You do not have any favourite club</p>
    <p>Find One!</p>
    <button ion-button (click)="goToClubs()">Clubs</button>
  </div>
  <div *ngIf="favs2.length > 0">
      <ion-card *ngFor="let item of favs2">
     <img src="{{ (item | async)?.img }}"   (click)="nightclubTapped(item.key)"/>
    <ion-card-content id="white-card">
      <ion-card-title>
        {{(item | async)?.name}}
      </ion-card-title>
      <p>
        {{(item | async)?.description}}
      </p>
    </ion-card-content>
    <ion-row class="row" id="white-card">
      <ion-col class="col">
        <button clear color="primary" ion-button small icon-left (click)="toggleFav(item.key)">
          <span class="button-inner">
            <ion-icon name="star" role="img" class="icon">
              Fav
            </ion-icon>
          </span>
        </button>
      </ion-col>
      <ion-col class="col" text-right>
        <button clear color="primary" ion-button small icon-right>
          <span class="button-inner">
            <ion-icon name="share-alt" role="img" class="icon">
              Share
            </ion-icon>
          </span>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  </div>
</ion-content>
